/* global */
*{
    margin: 0;
}
.container{
   max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}
.d-grid{
    display: grid;
    grid-template-columns: repeat(3, 410px);
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.text-center{
    text-align: center;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.justify-evenly{
    justify-content: space-evenly;
}
.justify-around{
    justify-content: space-around;
}
.top{
    margin:50px;
}
.py-2{
    padding: 24px 0;
}
/* banner */
.banner{
    margin-left: 200px;
}
#banner{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 20.07%, rgba(0, 0, 0, 0) 89.58%), url("../images/Rectangle\ .png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
#banner h2{
    font-size: 48px;
    color: #FFFFFF;
    line-height: 60px;
} 
#banner p{
    font-size: 20px;
    color: #FFFFFF;
    line-height: 28px;
    font-weight: 500px;
    padding-top: 10px;
}
/* search bar */
.card{
    background-color:  #F2FBFE;
}
.card h4{
    background-color:rgba(0, 70, 139, 0.08); ;
    padding: 10px;
    margin: 10px;
}
.card button{
    width: 118px;
    height: 40px;
    background-color: #00468B;
    color: aliceblue;
}
/* section about nepal */
.about img{
    width: 350px;
    padding: 39.5px;
}
h1{
    padding: 39.5px;
    font-size: 40px;
    color: #00468B;
    text-align: center;
}
.about p{
    padding: 20px;
    font-size: 15px;
}
/* travel Nepal */
.card-t{
    padding: 10px;
}
.card-t img{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}
.card-t h1{
    font-size: 40px;
}
section h1 span{
    color:#00ADE8 ;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.card-body{
    background-color: #00000052;
    color: #FFFFFF;
    bottom: 25px;
    left: 25px;
    right: 25px;
    text-align: center;
    padding: 10px 0;
}
/* best view */
.details{
    padding-right: 50px;
    font-size: 20px;
}
.details img{
    left: 10px;
}
/* popular hiking nepal */
.g-col2{
    display: grid;
    grid-template-columns: repeat(3, 340px);
}
.popular-view{
    bottom: 30px;
    color: #FFFFFF;
    font-size: 20px;
}
.g-col3{
    display: grid;
    grid-template-columns: repeat(4, 200px);
}
.view{
    padding: 25px;
}
.view img{
    padding: 20px;
    width: 300px;
}
/* Traveller’s Review */
#review{
    background:  linear-gradient(180deg, rgba(255, 255, 255, 0.96) 20.07%, rgba(255, 255, 255, 0) 89.58%), url(../images/image\ 6.png);
    font-size: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#review>.d-flex{
    height: 600px;
}
#review>.d-flex>div{
    width: 440px;
    flex: 0 0 440px;
    padding: 25px;
    background-color:rgba(255, 255, 255, 0.85);
}
/* Blogs & News */
.g-col3{
    display: grid;
    grid-template-columns: repeat(4, 300px);
}
.g-col3 div span{
        padding: 10px;
}
.g-col3 div h4{
    padding: 15px 0 0 0;
}
/* our company */
.our-company h4{
    padding: 10px 0;
}
.our-company img{
padding: 10px;
}
button{
    height: 35px;
    background-color: #00468B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}
.our-company p{
    padding-bottom: 15px;
}
#companyBanner img{
    box-shadow: 25px 20px 0px #00468B;
}
#companyBanner h4{
    padding-bottom: 10px;
}
/* about */
.trek-nepal{
    background-color: #00468B;
    padding: 100px;
    color: #FFFFFF;
}
#nepal{
    width: 140px;
}
.g-col4{
    display: grid;
    grid-template-columns: repeat(5, 100px);
}
.trek-nepal img{
    padding-bottom: 20px;
}
.trek-nepal h5{
    padding: 10px 0;
}





/* mediaQueiry */
@media screen and (max-width:376px) {
    .container{
        max-width: 1280px;
        margin-left: auto;
        margin-right: auto;
    }
    #banner{
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.38) 20.07%, rgba(0, 0, 0, 0) 89.58%), url("../images/Rectangle\ .png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 400px;
    }
    #banner h2{
        color: #FFFFFF;
        line-height: 60px;
    }
    #banner p{
        color: #FFFFFF;
        line-height: 25px;
        font-weight: 400px;
    }  
    /* search bar */
    .d-flex{
        display: flex;
        flex-direction: column;
    }
     /* About Nepal */
     .about img{
        width: 250px;
        /* padding: 39.5px; */
    }

}